/* Document CSS 
    ============ */

html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%; 
}

/* Content CSS 
    ========== */


/* Sets CSS for headings on each page */
.page_Headings{
    margin: 80px;
    width: 500px;
    margin-top: 100px;
}

/* Sets CSS for main content for each page */
.page_Content{
    margin: 80px;
    width: 40%;
    box-shadow: 2px 2px black;
    border: solid white;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
}


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 680px)
and (-webkit-min-device-pixel-ratio: 2) {
  .page_Headings{
      margin: 80px;
      width: 200px;
      margin-top: 70px;
  }

  .page_Content{
    margin: 80px;
    width: 90%;
    font-size: 24px;
   
}

}


/* Sets CSS for footer on each page */
.page_footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    text-align: center;
}

.Home_Background{
    background-image: url("./Images/Ducati\ \(Medium\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.About_background{
    background-image: url("./Images/R1\ \(Medium\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_background{
    background-image: url("./Images/BMW\ \(Medium\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  Heading CSS classes  
    =================== */

.heading_styleC{
    color: #E85A30;
    font-weight: bolder;
}

.heading_styleM{
   color: #F4A109;
   font-weight: bolder;
}

.heading_styleS{
    color: #0E92D1;
    font-weight: bolder;
}

.heading_styleR{
    color: rgb(2, 140, 61);
    font-weight: bolder;
}
    