/* Document CSS 
    ============ */

html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%; 
}

/* Content CSS 
    ========== */

/* Sets CSS for headings on each page */
.page_Headings{
    margin: auto;
    width: 500px;
    margin-top: 100px;
}

/* Sets CSS for main content for each page */
.page_Content{
    margin: auto;
    width: 70%;
}

/* Sets CSS for footer on each page */
.page_footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    text-align: center;
}

/*  Heading CSS classes  
    =================== */

.heading_styleC{
    color: #E85A30;
    font-weight: bolder;
}

.heading_styleM{
   color: #F4A109;
   font-weight: bolder;
}

.heading_styleS{
    color: #0E92D1;
    font-weight: bolder;
}
    